body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background: linear-gradient(to right, #00aaff, #00ff6c);
  font-family: "Comfortaa", sans-serif;
}
input {
  padding: 10px;
  background: transparent;
  color: black;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
input::placeholder {
  color: black;
}
select {
  width: 40px;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  font-size: 30px;
  border: none;
}
option {
  text-align: center;
}
button {
  background-color: black;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
}
